
 * {
  box-sizing: border-box;
}

body {
  font-family: "open sans", helvetica, arial, sans;

}
.logo{
  width: 200px;
  

  
}
.log-form {
  width: 100%;
  min-width: 320px;
  max-width: 475px;
  background:grey;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2 {
  text-align:left;
  color:white;
}

.log-form {
  padding: 2em;
  -webkit-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  -moz-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
}

form {
  display: block;
  text-align: center;
  width: 100%;
}

/* ========================WRITE YOUR CSS FROM HERE======================== */
body{
  background-color:powderblue;
}
h1 {
  text-align: center;
  color:white;
  font-style:italic;
  
}

input[type=text] {
  width: 200px;
  padding: 20px;
  height: 20px;
  border-radius: 20px;
}
input[type=email] {
  width: 200px;
  padding: 20px;
  height: 20px;
  border-radius: 20px;

}
input[type=password] {
  width: 200px;
  padding: 20px;
  height: 20px;
  border-radius: 20px;

}
input[type=number] {
  width: 200px;
  padding: 20px;
  height: 20px;
  border-radius: 20px;

}
#message{
  border-radius: 20px;
}
.btn{
  background-color:black;
  color:white;
  padding:20px;
  border-radius:20px ;
  width: 200px;
}
